
.feedUrlInput {
    margin: 26px 5px 15px;
    width: 504px;
}

.feedUrlLabel {
    margin-left: 18px;
}

.closeErrorDialogButton {
    margin-top: 10px;
    text-align: center;
    width: 80px;
}

.rssItemsTable {
    margin-top: 15px;
}

.rssItemsTable tr td {
    max-width: 660px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}

#addFeedErrorDialog {
    display: none;
}

a {
    /*text-decoration: none;*/
}